<h1>Edit an article</h1>

<% if @article.errors.any? %>
  <h2>The article was not created because of the following errors</h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>


<%= form_for @article do |f| %>
  <%= f.text_field :title %><br>
  <%= f.text_area :description, size: "60x12" %>
  <%= f.submit "Update" %>
<% end %>

<%= link_to 'Cancel', articles_path %>