<h1 class="center">Main Page</h1>

<% @articles.each do |a| %>

  <b><%= a.title %></b>
  <br>
  <i><%= a.description %></i>

  <br>
    <%= link_to 'Show', article_path(a), class: "btn btn-primary btn-xs" %>
    <%= link_to 'Edit', edit_article_path(a), class: "btn btn-primary btn-xs" %>
    <%= link_to 'Delete', a, method: :delete, data: { confirm: "Are You Sure!!!" }, class: "btn btn-danger btn-xs" %>
  <hr>
<% end %>
<div class="center">
  <%= link_to 'CREATE ARTICLE', new_article_path, class: "btn btn-primary btn-lg" %>
</div>