<h2 align="center"><strong>Title:</strong><%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center description"><strong>Description:</strong></h4>
  <hr>
  <%= simple_format(@article.description) %>
  <div class="article-action">
    <%= link_to 'View All Articles', articles_path, class: "btn btn-success btn-xs" %>
    <%= link_to 'Edit This Article', edit_article_path(@article), class: "btn btn-primary btn-xs" %>
    <%= link_to 'Delete This Article', @article, method: :delete, data: { confirm: "Are You Sure!!!" }, class: "btn btn-danger btn-xs", id: "color-change" %>
  </div>
</div>